<%= render 'shared/errors' %>

<form action="<%= cat.form_url %>" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="cat_name">Name</label>
        <input type="text" name="cat[name]" id="cat_name" value="<%= cat.name %>">
      </div>

      <div class="form-group">
        <label for="cat_age">Age</label>
        <input type="text" name="cat[age]" id="cat_age" value="<%= cat.age %>">
      </div>

      <div class="form-group">
        <strong>Sex</strong>
        <% cat.sex_options.each do |value, name| %>
          <div class="radio">
            <label for="<%= name %>_option"><%= name %></label>
            <input type="radio" name="cat[sex]"
                   id="<%= name %>_option"
                   value="<%= value %>"<%= cat.sex_checked(value) %>>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="cat_color">Color</label>
        <select name="cat[color]" id="cat_color">
          <option></option>
          <% cat.color_options.each do |value, name| %>
            <option value="<%= value %>"<%= cat.color_selected(value) %>>
              <%= name %>
            </option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <label for="cat_birth_date">Birth Date</label>
        <input type="date" name="cat[birth_date]"
               id="cat_birth_date" value="<%= cat.birth_date %>">
      </div>

      <div class="form-group">
        <label for="cat_photo">Photo</label>
        <input type="file" name="cat[photo]" id="cat_photo">
      </div>
    </div>
  </div>

  <input type="submit" value="<%= cat.submit_text %>" class="btn btn-primary">
</form>
