<div class="col-md-12 cat-form-new">
  <h1>Add a Cat</h1>

  <%= render 'shared/errors' %>

  <form action="<%= cats_url %>" method="post" accept-charset="utf-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <div class="form-group">
      <label for="cat_name">Name</label>
      <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">
    </div>

    <div class="form-group">
      <label for="cat_age">Age</label>
      <input type="text" name="cat[age]" id="cat_age" value="<%= @cat.age %>">
    </div>

    <div class="form-group">
      <strong>Sex</strong>
      <% @cat.sex_options.each do |value, name| %>
        <label for="<%= name %>_option"><%= name %></label>
        <input type="radio" name="cat[sex]"
               id="<%= name %>_option"
               value="<%= value %>"<%= @cat.sex_checked(value) %>>
      <% end %>
    </div>

    <div class="form-group">
      <label for="cat_color">Color</label>
      <select name="cat[color]" id="cat_color">
        <option></option>
        <% @cat.color_options.each do |value, name| %>
          <option value="<%= value %>"<%= @cat.color_selected(value) %>>
            <%= name %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="cat_birth_date"></label>
      <input type="date" name="cat[birth_date]"
             id="cat_birth_date" value="<%= @cat.birth_date %>">
    </div>

    <input type="submit" value="Add Cat" class="btn btn-primary">
  </form
</div>
